aiohttp==3.9.0
aiohttp-jinja2==1.6
aiosignal==1.3.1
aiosqlite==0.19.0
aniso8601==9.0.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
attrs==23.1.0
blinker==1.7.0
bottle==0.12.25
cement==3.0.8
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
databases==0.8.0
dill==0.3.7
Django==4.2.7
djangorestframework==3.14.0
Faker==20.1.0
fastapi==0.104.1
Flask==3.0.0
Flask-RESTful==0.3.10
frozenlist==1.4.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.1
grpcio==1.56.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.1
Hypercorn==0.15.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
jdatetime==4.1.1
Jinja2==3.1.2
linkify-it-py==2.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdit-py-plugins==0.4.0
mdurl==0.1.2
msgpack==1.0.7
multidict==6.0.4
mysql-connector-python==8.2.0
numpy==1.26.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.3
priority==2.0.0
protobuf==4.21.12
pulumi==3.94.2
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
PyMySQL==1.1.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
selenium==4.15.2
semver==2.13.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.50
sqlparse==0.4.4
starlette==0.27.0
textual==0.35.1
textual-dev==1.2.1
textual_web==0.5.4
tomli==2.0.1
trio==0.23.1
trio-websocket==0.11.1
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==2.1.0
uvicorn==0.24.0.post1
watchfiles==0.21.0
webdriver-manager==4.0.1
websockets==12.0
Werkzeug==3.0.1
wsproto==1.2.0
xdg==6.0.0
yarl==1.9.3
zipp==3.17.0
